<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lizhen.dao.AlbumDAO">
    <sql id="publicsql">
     id, title, author, score, cover_img, broadcast, counts, content, pub_date

    </sql>
<select id="showAlbumByPage" resultType="Album">
    select *  from album  limit  ${(page-1)*rows},#{rows}
</select>

    <select id="totalCount" resultType="java.lang.Integer">
       select count(*) from album
   </select>

    <insert id="saveAlbum" parameterType="Album">
        insert into album(<include refid="publicsql"></include>) values (#{id}, #{title}, #{author}, #{score}, #{cover_img},
        #{broadcast}, #{counts}, #{content}, #{pub_date})
    </insert>

    <delete id="deleteAlbum" parameterType="java.lang.String">
        delete from album where id=#{id}
    </delete>

    <update id="eduitAlbum" parameterType="Album">
        update album
        <set>
            <if test="title!=null">
                title=#{title},
            </if>
            <if test="cover_img!=null">
                <if test="cover_img != ''">
                    cover_img=#{cover_img},
                </if>

            </if>
            <if test="author!=null">
                author=#{author},
            </if>
            <if test="score!=null">
                score=#{score},
            </if>
            <if test="broadcast!=null">
                broadcast=#{broadcast},
            </if>
            <if test="counts!=null">
                counts=#{counts},
            </if>
            <if test="content!=null">
                content=#{content},
            </if>
            <if test="pub_date!=null">
                pub_date=#{pub_date}
            </if>
        </set>
        where id=#{id}
    </update>


    <resultMap id="Charpter" type="Charpter">
        <id property="id" column="cid"/>
        <result property="url" column="url"/>
        <result property="size" column="size"/>
        <result property="duration" column="duration"/>
        <result property="up_date" column="up_date"/>
        <result property="album_Id" column="album_Id"/>
        <association property="album" javaType="Album">
            <id column="aid" property="id"/>
            <result column="title" property="title"/>
            <result property="author" column="author"/>
            <result property="score" column="score"/>
            <result property="cover_img" column="cover_img"/>
            <result property="broadcast" column="broadcast"/>
            <result property="counts" column="counts"/>
            <result property="content" column="content"/>
            <result property="pub_date" column="pub_date"/>
        </association>
    </resultMap>
    <select id="selectAllCharpter" resultMap="Charpter">
         select  c.id cid,c.url,c.size,c.duration,c.up_date,c.album_Id,
        a.id aid,a.title,a.score,a.cover_img,a.broadcast,a.counts,a.content,a.pub_date
        from  charpter c  inner join  album a
        on  c.album_Id = a.id  where a.id =#{id}
    </select>

</mapper>
